@font-face {
    font-family: "Gotham Medium";
    src: url(Gotham-Medium.otf);
}

.row-welcome {
    padding: 30px;
}

.welcome {
    color: white;
    text-transform: uppercase;
    font-family: "Gotham Ultra", serif;
    font-size: 80px;
}

.layer {
    background-color: rgba(248, 247, 216, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button-sign {
    font-size: 25px;
    text-transform: uppercase;
    background-color: rgba(153, 248, 86, 0.5);
}

.button-sign:hover {
    background-color: rgba(255, 207, 116, 0.5);
}

.topBar-ul {
    background-color: #333;
}

.topBar-li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topBar-li a:hover {
    background-color: #9cd865;
}

.replay-footer {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(153, 248, 86, 0.5);
}

.footer-title {
    font-family: "Gotham Medium", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
}

.footer-copyright {
    font-family: "Gotham Medium", sans-serif;
    color: white;
    font-size: 1rem;
}

.video-title {
    margin: 0;
    margin-bottom: 2px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.object-fit_none {
    object-fit: cover;
    height: 9.5rem;
    width: 100%;
}