@font-face {
    font-family: "Gotham Medium";
    src: url(Gotham-Medium.otf);
}


.titre
{
	margin-top : 20px;
	margin-bottom: 40px;

}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f8f9f9 ;
    font-family: "Gotham Low", sans-serif;
	margin-top : 7px;
	margin-bottom: 7px;
    
}

li.blue{
		background-color: #DAF7A6 ;
		color: black;
		margin-top : 7px;
		margin-bottom: 7px;
		font-family: "Gotham Medium", sans-serif;
		
}

.profil
{
	background-color: #DAF7A6;
	text-align: center;
	width:40%;
    margin-left:30%;
    font-family: "Gotham Medium", sans-serif;
}
